<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block header%}

   <!-- Navigation-->
    <title> Wassim/{{product.name}} </title>
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#212529;height:10%">
    <div class="container">
        <a class="navbar-brand" href="/"><img  style="width:160px;height:50px;margin-left:-70px" src="/img1/wass.png" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="input-group" style="margin-left:25px;margin-right:25px;">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="button" class="btn btn-outline-primary">search</button>
        </div>
      
        <div class="collapse navbar-collapse" id="navbarResponsive1">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_services') }}">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_portfilio') }}">Portfolio</a></li>
             
                
                <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
    </nav>
{% endblock %}
{% include 'prod.html.twig' %}
{% block body %}

<br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
    
        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{{ asset('uploades/' ~ product.imageFile )}}" style=" max-width:500px;height:500px;" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header text-left">
                            <p>Product name : </p>
                            <h2> {{ product.name }}</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                <br> <div style="color:red;font-size:20px;">about This item :</div> <br> 
                                {{ product.discription|raw() }}
                            </p>
                            
                           
                        </div>
                        <button type="button" class="btn btn-success" style="width:200px;height:50px" >Buy now</button>
                        <button type="button" class="btn btn-danger" style="width:200px;height:50px;margin-left:10px" >add to card</button>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
         <!-- Footer-->
 <footer class="footer py-4" style="text-align: center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

